.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:10px;
  }
  
  .footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .left-list {
    overflow-y: auto; 
    background-color: #f8f9fa; 
    padding: 10px;
    border-right: 1px solid #ccc; 
    max-height: 300px; 
    scrollbar-width: thin; 
    scrollbar-color: #007bff #f8f9fa; 
  }
  
  .left-list > ul {
    list-style: none; 
    padding: 0;
    margin: 0
  } 
  
  .left-list > ul > li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e9ecef;
    border-radius: 4px;
    cursor: pointer
  }
  
  .left-list > ul > li:last-child {
    border-bottom: none; 
  }
  
  .left-list > ul > li:hover {
    background-color: #007bff; 
    color: white; 
  }
  
  .left-list > ul > li.active {
    background-color: #0056b3; 
    color: white;
  }
  
  /* .stacked-container {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    gap: 1rem; 
  } */

  .stacked-container {
    display: flex;
    width: 100%;
    padding: 0 20px; /* Adds space on both sides */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    gap: 1rem; /* Space between child elements */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }

  .label-filter {
    margin: 5px;
    padding: 5px;
    border: solid green;
    border-radius: 5px;
  }